* {
    background-color: #1b1a28;
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all .2s;
    scrollbar-width: none;
}

#waves{
    background-color: #090f2f00;
    position:fixed;
    left: 0;
    top: 0;
    /* Make SVG scale to screen width reliably on mobile */
    width: 100vw;
    height: auto;
    aspect-ratio: 199.78149 / 63.62468;
    animation-name:intro;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(1,-100,5,1);
}


#waves video{
    pointer-events: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#waves use{
    color: red;
}

/* Avoid "transition: all" affecting SVG sizing on mobile */
#waves, #waves * {
    transition: none !important;
}
.header {
    padding: 0vw;
    position:fixed;
}
#buttons {
    border-color: #09102d;
    background-color: #09102d;
    border-style: solid;
    border-width: 5px;
    border-radius: 50px;
    display: flex;
    justify-content: space-evenly;
    position: relative; 
    z-index: 1;
    animation-name:introSlow;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(1,-100,5,1);
    transform: rotateZ(-2deg);
}
#buttons button {
    background-color: #090f2f00;
    border-color: rgba(245, 245, 245, 0);
    border-style: solid;
    border-radius: 50px;
    transform: translateY(-1px);
    flex-grow: 1;
    font-weight:bold;
    font-size: 2vw;
    padding-right: 1vw;
    padding-left: 1vw;
}

#buttons button:hover {
    background-color: whitesmoke;
    border-color: whitesmoke;
    padding-right: 3vw;
    padding-left: 3vw;
    color: #090f2f;
}

@keyframes intro {
    0% {top: -20vw; transform: rotateZ(-5deg); filter: drop-shadow(1px 1px rgb(108, 235, 255))drop-shadow(2px 2px rgb(108, 235, 255))drop-shadow(-1px -1px rgb(108, 235, 255))drop-shadow(-2px -2px rgb(108, 235, 255));}
    30% {top: 0vw; transform: rotateZ(0deg);}
    100% {top: -.3vw;}
}

@keyframes introSlow {
    0% {top: -5vw;}
    30% {top: 2vw; transform: rotateZ(-6deg);}
    100% {top: 0vw;}
}