* {
    background-color: #1b1a28;
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all .2s;
    scrollbar-width: none;
}
.clip-svg {
    clip-path: url("drawing.svg#clipPath5");
    position: fixed;
    width: 600px;
    height: auto;
    aspect-ratio: 199.78 / 63.62;
    transform: translate(-2px, -2px);
    transform-origin: top left;
    object-fit: cover;
}

/* Mobile */
@media (max-width: 480px) {
    .clip-svg {
        width: 300px;
    }
}

/* Tablet */
@media (min-width: 481px) and (max-width: 1024px) {
    .clip-svg {
        width: 500px;
    }
}

/* Desktop */
@media (min-width: 1025px) {
    .clip-svg {
        width: 800px;
    }
}
.header {
    margin: -4px;
    padding: 10px;
    position:fixed;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
#buttons {
    border-color: #09102d;
    background-color: #09102d;
    border-style: solid;
    border-width: 5px;
    border-radius: 50px;
    display: flex;
    justify-content: space-evenly;
    position: relative; 
    z-index: 1;
}
#buttons button {
    background-color: #090f2f00;
    border-color: rgba(245, 245, 245, 0);
    border-style: solid;
    border-width: 5px;
    border-radius: 50px;
    transform: translateY(-1px);
    flex-grow: 1;
    margin-right: 5px;
    margin-left: 5px;
    font-weight:bold;
}

#buttons button:hover {
    background-color: whitesmoke;
    border-color: whitesmoke;
    padding-right: 30px;
    padding-left: 30px;
    color: #090f2f;
}

@keyframes hover {
    from {left:0px;}
    to {left:-100px;}
}
