* {
    background-color: #1b1a28;
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all .2s;
}
.banner {
    height: 100px;
    width: 120%;
    position:fixed;
    left:-6px;
    top:-20px;
}
#banner1 {
    height: 160px;
    width: 120%;
    background-color: #3842af;
    position:fixed;
    left:-6px;
    top:-99px;
    transform: rotate(-1deg);
}
#banner2 {
    height: 160px;
    width: 120%;
    left:-6px;
    top:50px;
    background-color: rgba(0, 255, 255, 0);
    transform: rotate(0deg);
    background-image: url("textures/wave-blue.png");
    background-size: contain;
    background-size: 100px;
    background-repeat: repeat-x;
    animation : hover 5s linear infinite;
    z-index: 1;
}
#banner3 {
    height: 160px;
    width: 120%;
    left: -6px;
    top:70px;
    background-color: rgba(0, 255, 255, 0);
    transform: rotate(0deg);
    background-image: url("textures/wave-cyan.png");
    background-size: contain;
    background-size: 100px;
    background-repeat: repeat-x;
    animation : hover 5.5s linear infinite;
}
.header {
    margin: -4px;
    padding: 10px;
    position:fixed;
}

.header p {
    top:8px;
    left:400px;
    position: fixed;
    transform: rotate(-1deg);
    background-color: #090f2f00;
    font-weight: bold;
    font-style:italic;
}
#buttons {
    border-color: #09102d;
    background-color: #09102d;
    border-style: solid;
    border-width: 5px;
    border-radius: 50px;
    display: flex;
    justify-content: space-evenly;
    position: relative; 
    z-index: 1;
    transform: rotate(-1deg);
}
.header button {
    background-color: #090f2f00;
    border-color: rgba(245, 245, 245, 0);
    border-style: solid;
    border-width: 5px;
    border-radius: 50px;
    transform: translateY(-1px);
    flex-grow: 1;
    margin-right: 5px;
    margin-left: 5px;
    font-weight:bold;
}

.header button:hover {
    background-color: whitesmoke;
    border-color: whitesmoke;
    padding-right: 30px;
    padding-left: 30px;
    color: #090f2f;
}

@keyframes hover {
    from {left:0px;}
    to {left:-100px;}
}