* {
    background-color: #1b1a28;
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all .2s;
    scrollbar-width: none;
}

@font-face{
    font-family: primary;
    src: url("Akira Expanded Demo.otf")
}

.header {
    top: 5px;
    padding: 0px;
    position:fixed;
    background-color: #090f2f00;
}
#buttons {
    top: 1vw;
    border-color: #09102d;
    background-color: #09102d;
    border-style: solid;
    border-radius: 50px;
    display: flex;
    justify-content: space-evenly;
    position: relative; 
    z-index: 1;
    animation-name:intro;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(1,-100,5,1);
}
#buttons button {
    background-color: #090f2f00;
    border-color: rgba(245, 245, 245, 0);
    border-style: solid;
    border-radius: 50px;
    transform: translateY(-1px);
    flex-grow: 1;
    font-weight:bold;
    font-size: 1.5vw;
    padding-right: .7vw;
    padding-left: .7vw;
    padding-bottom:0;
    padding-top:0;
}

#miniCalender {
    background-color: #090f2f00;
    display: flex;
    position: fixed;
    top: 5px;
    right: 10px;
    flex-direction: column;
}
#day {
    font-family: primary;
    background-color: #090f2f00;
    color: #2dc7ff;
    font-weight:bolder;
    font-size: 6vw;
    margin: 0;
    transform:translate(0vw,-1vw);
    animation-name:intro;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(1,-100,5,1);
}

#date {
    font-family: primary;
    color: #ffffff;
    background-color: #090f2f00;
    font-weight:bold;
    font-size: 4vw;
    margin: 0;
    transform: translate(5vw, -4.5vw);
    animation-name:intro;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(1,-100,5,1);
}

#year {
    font-family: primary;
    color: #ffffff;
    background-color: #090f2f00;
    font-weight:bold;
    font-size: 1.5vw;
    margin: 0;
    transform: translate(17.5vw, -6.9vw);
    animation-name:intro;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(1,-100,5,1);
}

#clock {
    font-family: primary;
    color: #ffffff;
    background-color: #090f2f00;
    font-weight:bold;
    font-size: 5vw;
    margin: 0;
    transform: translate(30vw, -9vw);
    animation-name:intro;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(1,-100,5,1);
    -webkit-text-stroke: #323ca1 .25vw;
}

#buttons button:hover {
    background-color: whitesmoke;
    border-color: whitesmoke;
    padding-right: 3vw;
    padding-left: 3vw;
    color: #090f2f;
}

@keyframes intro {
    0% {transform: translate(0px,-100px)}
    50% {transform: translate(0px,50px);}
    100% {transform: translate(inherit,inherit);}
}

@keyframes introbanner {
    0% {top: -150px;}
    30% {top: -30px;}
    100% {}
}

#banner {
    height: 13%;
    width: 120%;
    background-color: #323ca1;
    position:fixed;
    left:-6vw;
    top:-4%;
    transform: rotate(.5deg);
    animation-name:introbanner;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(1,-100,5,1);
}

*{
    /*animation-duration:0s !important;*/
}