* {
    background-color: #1b1a28;
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all .2s;
}
.banner {
    height: 100px;
    width: 120%;
    background-color: #323ca1;
    position:fixed;
    left:-6px;
    top:-20px;
    transform: rotate(-3deg)
}
#banner1 {
    height: 160px;
    width: 120%;
    background-color: #323ca1;
    position:fixed;
    left:-6px;
    top:-99px;
    transform: rotate(-1deg);
}
#banner2 {
    height: 158px;
    width: 120%;
    background-color: #4452f000;
    position:fixed;
    left:-6px;
    top:-99px;
    transform: rotate(-1deg);
    outline: 6px dashed #70baff;
    animation: hover 2s linear infinite;
}
.header {
    margin: -4px;
    padding: 10px;
    position:fixed;
}

.header p {
    top:2px;
    left:400px;
    position: fixed;
    transform: rotate(-1deg);
    background-color: #090f2f00;
}
#buttons {
    border-color: #09102d;
    background-color: #09102d;
    border-style: solid;
    border-width: 5px;
    border-radius: 50px;
    display: flex;
    justify-content: space-evenly;
    position: relative; 
    z-index: 1;
    transform: rotate(-1deg);
}
.header button {
    background-color: #090f2f00;
    border-color: rgba(245, 245, 245, 0);
    border-style: solid;
    border-width: 5px;
    border-radius: 50px;
    transform: translateY(-1px);
    flex-grow: 1;
    margin-right: 5px;
    margin-left: 5px;
    font-weight:bold;
}

.header button:hover {
    background-color: whitesmoke;
    border-color: whitesmoke;
    padding-right: 30px;
    padding-left: 30px;
    color: #090f2f;
}

@keyframes hover {
    from {outline-offset: .5px; left:-37px;}
    to {outline-offset: 0px; left:-2.5px;}
}