* {
    background-color: #1b1a28;
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all .2s;
    scrollbar-width: none;
    background-image: ("wallpaper.jpg");
}

@font-face{
    font-family: primary;
    src: url("Akira Expanded Demo.otf")
}

.header {
    top: 5px;
    padding: 0px;
    position:fixed;
    background-color: #090f2f00;
}
#buttons {
    top: 1vw;
    border-color: #09102d;
    background-color: #09102d;
    border-style: solid;
    border-radius: 50px;
    display: flex;
    justify-content: space-evenly;
    position: relative; 
    z-index: 1;
    animation-name:intro;
    animation-duration: 1s;
    animation-timing-function:ease-in-out;
}
#buttons button {
    background-color: #090f2f00;
    border-color: rgba(245, 245, 245, 0);
    border-style: solid;
    border-radius: 50px;
    transform: translateY(-.1vw);
    flex-grow: 1;
    font-weight:bold;
    font-size: 2vw;
    padding-right: .7vw;
    padding-left: .7vw;
    padding-bottom:0;
    padding-top:0;
}

#miniCalender {
    background-color: rgba(9, 15, 47, 0);
    display: flex;
    position: fixed;
    top: .5vw;
    right: 3vw;
    flex-direction: column;
    animation-name:intro;
    animation-duration: 1s;
    animation-timing-function:ease-in-out;
}
#day {
    text-shadow: rgba(0, 0, 0, 0.492) .3vw .3vw;
    font-family: primary;
    background-color: #090f2f00;
    color: #2dc7ff;
    font-weight:bolder;
    font-size: 6vw;
    margin: 0;
    transform:translate(3vw,-.8vw);
    letter-spacing: 1vw;
}

#date {
    font-family: primary;
    color: #ffffff;
    background-color: #090f2f00;
    font-weight:bold;
    font-size: 4vw;
    margin: 0;
    transform: translate(5vw, -4.5vw);
}

#year {
    font-family: primary;
    color: #ffffff;
    background-color: #090f2f00;
    font-weight:bold;
    font-size: 1.5vw;
    margin: 0;
    transform: translate(17.5vw, -6.9vw);
}

#clock {
    font-family: primary;
    text-align: center;
    letter-spacing: -.2vw;
    background-color: #ff000000;
    font-weight:bold;
    font-size: 5vw;
    margin: 0;
    transform: translate(11vw, -6.5vw);
    color: #01fefe;
    -webkit-text-stroke: #0d0e4c56 .25vw;
    border-width: 0px;
    padding: 0;
    line-height: 0;
}
#clock:hover {
    -webkit-text-stroke: #484ac656 .25vw;
}

#buttons button:hover {
    background-color: whitesmoke;
    border-color: whitesmoke;
    padding-right: 3vw;
    padding-left: 3vw;
    color: #090f2f;
}

@keyframes intro {
    0% {transform: translate(0px,-100px)}
    100% {transform: translate(inherit,inherit);}
}

@keyframes introbanner {
    0% {top: -150px;transform: rotate(-4deg);}
    100% {}
}

#banner {
    height: 13%;
    width: 120%;
    background-color: #323ca1;
    position:fixed;
    left:-6vw;
    top:-4%;
    transform:rotate(.5deg);
    animation-name:introbanner;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(1,-100,5,1);
}
#miniNews *{
    background-color: #282dc500;
}


#miniNews{
    background-color: #2429ac;
}
*{
    animation-duration:0s !important;
}